body { background: #a0efc3; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 54px; display: flex; }
.block-email-0 { color: #f8c06e; font-size: 21px; margin-bottom: 5px; }
.block-cache-1 { color: #408377; font-size: 20px; margin-bottom: 5px; }
.block-shipping-2 { color: #f61c63; font-size: 15px; margin-bottom: 5px; }
.block-router-3 { color: #d18e9f; font-size: 13px; margin-bottom: 5px; }
.block-product-4 { color: #d9df18; font-size: 13px; margin-bottom: 5px; }
.block-invoice-5 { color: #558ea2; font-size: 12px; margin-bottom: 5px; }